--extra-index-url https://download.pytorch.org/whl/cu117

configargparse
imageio
imageio-ffmpeg
jupyter
lpips
matplotlib
opencv-python
PyMCubes
tensorboard
torch>=1.4.0
torchvision>=0.2.1
tqdm
trimesh